body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

p {
    color: white;
}

section {
    margin: 100px auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;

}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 30px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    height: 600px;
    border-bottom: 1px solid #33A8DB80;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}


#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(./images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    line-height: 3rem;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}

#professional-challenges h2 {
    text-shadow: 2px 2px 5px;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
}